In [2]:
#Les dataframes 
#les Series
# Quantitatives (int) et qualitatives ( exemple homme, femme etc ...)

import pandas

In [4]:
serie = pandas.Series([11,15,12,13,14,12,11,11,10,14,16,16,14])
print(serie)

0     11
1     15
2     12
3     13
4     14
5     12
6     11
7     11
8     10
9     14
10    16
11    16
12    14
dtype: int64

In [8]:
serie = pandas.Series([11,15,12,13,14,12,11,11,10,14,16,16,14],index = ["Fred","Jeanne","Julie","Julien","Chloé","Alex","Nicolas","Alice","Mathéo","Zoé","Mael","Catherine","Inès"])

In [9]:
print(serie)

Fred         11
Jeanne       15
Julie        12
Julien       13
Chloé        14
Alex         12
Nicolas      11
Alice        11
Mathéo       10
Zoé          14
Mael         16
Catherine    16
Inès         14
dtype: int64

In [10]:
#Fonction décrivant la distribution de la série 
serie.describe()

count    13.0
mean     13.0
std       2.0
min      10.0
25%      11.0
50%      13.0
75%      14.0
max      16.0
dtype: float64

In [11]:
serie["Julien"]

13

In [14]:
serie[3]

13

In [16]:
# ensemble des élèves qui ont plus de 12 ans 
serie>12

Fred         False
Jeanne        True
Julie        False
Julien        True
Chloé         True
Alex         False
Nicolas      False
Alice        False
Mathéo       False
Zoé           True
Mael          True
Catherine     True
Inès          True
dtype: bool

In [18]:
serie[serie>12]

Jeanne       15
Julien       13
Chloé        14
Zoé          14
Mael         16
Catherine    16
Inès         14
dtype: int64

In [31]:
# Les data frames 
import pandas
import numpy as np
houses = np.genfromtxt("Houses.csv",delimiter = ",",dtype = int)

SyntaxError: invalid syntax (<ipython-input-31-5d0c8105264a>, line 2)

In [32]:
houses

array([[212000,   4148,  25264],
       [230000,   2501,  11891],
       [339000,   4374,  25351],
       [289000,   2398,  22215],
       [160000,   2536,   9234],
       [ 85000,   2368,  13329],
       [ 85000,   1264,   8407],
       [145000,   1572,  12588],
       [164000,   2375,  16204],
       [123500,   1161,   9626],
       [180000,   1542,   8755],
       [159500,   1464,  14636],
       [156000,   2240,  21780],
       [146500,   1269,  11250],
       [101500,    924,   7361],
       [109800,    768,  10497],
       [182000,   1320,  15768],
       [110000,   1845,  12153],
       [125000,   1274,  13634],
       [ 80000,   1905,  10890]])

In [33]:
# on ajoute le nom des colonnes
dataframe = pandas.DataFrame(houses,columns=["Prix","Taille de la maison","Surface du terrain"])

In [34]:
dataframe

      Prix  Taille de la maison  Surface du terrain
0   212000                 4148               25264
1   230000                 2501               11891
2   339000                 4374               25351
3   289000                 2398               22215
4   160000                 2536                9234
5    85000                 2368               13329
6    85000                 1264                8407
7   145000                 1572               12588
8   164000                 2375               16204
9   123500                 1161                9626
10  180000                 1542                8755
11  159500                 1464               14636
12  156000                 2240               21780
13  146500                 1269               11250
14  101500                  924                7361
15  109800                  768               10497
16  182000                 1320               15768
17  110000                 1845               12153
18  125000                 1274               13634
19   80000                 1905               10890

In [37]:
groupe1=pandas.Series([11,15,12,13,14,12,11,11,10,14,16,16,14],index = ["Fred","Jeanne","Julie","Julien","Chloé","Alex","Nicolas","Alice","Mathéo","Zoé","Mael","Catherine","Inès"])

groupe2 = pandas.Series([11,15,15,11,14,12,11,13,10,14,16,16,9];index=["Fred","jeanne,"Damien","Grace,"Chloé","Alex","Nicolas","Julien","Mathéo","Zoé","Mael","Catherine","Samuel"])

In [41]:
groupe2 = pandas.Series([11,15,15,11,14,12,11,13,10,14,16,16,9],index=
                        ["Fred","jeanne","Damien","Grace","Chloé","Alex","Nicolas","Julien","Mathéo","Zoé","Mael","Catherine","Samuel"])

In [45]:
# les index retrouvent automatiquement les valeurs, lorsque l'on ajout 2 series ensemble disposant d'index en doublons 
# les doublons sont automatiquement gérés, et les valeurs attribués à nos index .
dataframe = pandas.DataFrame({"Groupe1" : groupe1, "Groupe2":groupe2})

In [44]:
dataframe

           Groupe1  Groupe2
Alex          12.0     12.0
Alice         11.0      NaN
Catherine     16.0     16.0
Chloé         14.0     14.0
Damien         NaN     15.0
Fred          11.0     11.0
Grace          NaN     11.0
Inès          14.0      NaN
Jeanne        15.0      NaN
Julie         12.0      NaN
Julien        13.0     13.0
Mael          16.0     16.0
Mathéo        10.0     10.0
Nicolas       11.0     11.0
Samuel         NaN      9.0
Zoé           14.0     14.0
jeanne         NaN     15.0

In [ ]:
# lire un fichier et en faire un dataframe pour gérer .