In [52]:
# Import du fichier 
import numpy as np
houses = np.genfromtxt("Houses.csv",delimiter = ",",dtype = int)

In [53]:
houses
# Prix , Taille Maison , Taille terrain

array([[212000,   4148,  25264],
       [230000,   2501,  11891],
       [339000,   4374,  25351],
       [289000,   2398,  22215],
       [160000,   2536,   9234],
       [ 85000,   2368,  13329],
       [ 85000,   1264,   8407],
       [145000,   1572,  12588],
       [164000,   2375,  16204],
       [123500,   1161,   9626],
       [180000,   1542,   8755],
       [159500,   1464,  14636],
       [156000,   2240,  21780],
       [146500,   1269,  11250],
       [101500,    924,   7361],
       [109800,    768,  10497],
       [182000,   1320,  15768],
       [110000,   1845,  12153],
       [125000,   1274,  13634],
       [ 80000,   1905,  10890]])

In [54]:
# 1 Convertir le prix des maison en euros  => Mutliplier par 0.86 la première colonne .

houses [:,0]  = houses[:,0]  * 0.86

In [55]:
houses

array([[182320,   4148,  25264],
       [197800,   2501,  11891],
       [291540,   4374,  25351],
       [248540,   2398,  22215],
       [137600,   2536,   9234],
       [ 73100,   2368,  13329],
       [ 73100,   1264,   8407],
       [124700,   1572,  12588],
       [141040,   2375,  16204],
       [106210,   1161,   9626],
       [154800,   1542,   8755],
       [137170,   1464,  14636],
       [134160,   2240,  21780],
       [125990,   1269,  11250],
       [ 87290,    924,   7361],
       [ 94428,    768,  10497],
       [156520,   1320,  15768],
       [ 94600,   1845,  12153],
       [107500,   1274,  13634],
       [ 68800,   1905,  10890]])

In [56]:
# 2 Convertir les pieds carrés par des m2 

houses [:,1]  = houses[:,1]  * 0.09
houses [:,2]  = houses[:,2]  * 0.09
houses

array([[182320,    373,   2273],
       [197800,    225,   1070],
       [291540,    393,   2281],
       [248540,    215,   1999],
       [137600,    228,    831],
       [ 73100,    213,   1199],
       [ 73100,    113,    756],
       [124700,    141,   1132],
       [141040,    213,   1458],
       [106210,    104,    866],
       [154800,    138,    787],
       [137170,    131,   1317],
       [134160,    201,   1960],
       [125990,    114,   1012],
       [ 87290,     83,    662],
       [ 94428,     69,    944],
       [156520,    118,   1419],
       [ 94600,    166,   1093],
       [107500,    114,   1227],
       [ 68800,    171,    980]])

In [63]:
# 2 Combien de maisons ont un terrain de plus de 1000 m2 ?
print(houses [houses[:,2] > 1000])
len(houses [houses[:,2] > 1000])

[[182320    373   2273]
 [197800    225   1070]
 [291540    393   2281]
 [248540    215   1999]
 [ 73100    213   1199]
 [124700    141   1132]
 [141040    213   1458]
 [137170    131   1317]
 [134160    201   1960]
 [125990    114   1012]
 [156520    118   1419]
 [ 94600    166   1093]
 [107500    114   1227]]

13

In [57]:
# 3 Somme de la vente des maisons
houses[:,0].sum()

2737208

In [58]:
# 3 Taille de la maison vendu ela plus chère
houses[:,0].max()

291540

In [59]:
# 4 Splitter le tableau en 3
np.split(houses,[2,6])

[array([[182320,    373,   2273],
        [197800,    225,   1070]]),
 array([[291540,    393,   2281],
        [248540,    215,   1999],
        [137600,    228,    831],
        [ 73100,    213,   1199]]),
 array([[ 73100,    113,    756],
        [124700,    141,   1132],
        [141040,    213,   1458],
        [106210,    104,    866],
        [154800,    138,    787],
        [137170,    131,   1317],
        [134160,    201,   1960],
        [125990,    114,   1012],
        [ 87290,     83,    662],
        [ 94428,     69,    944],
        [156520,    118,   1419],
        [ 94600,    166,   1093],
        [107500,    114,   1227],
        [ 68800,    171,    980]])]