In [3]:
# Import du fichier 
import numpy as np
houses = np.genfromtxt("Houses.csv",delimiter = ",",dtype = int)

In [4]:
houses
# Prix , Taille Maison , Taille terrain

array([[212000,   4148,  25264],
       [230000,   2501,  11891],
       [339000,   4374,  25351],
       [289000,   2398,  22215],
       [160000,   2536,   9234],
       [ 85000,   2368,  13329],
       [ 85000,   1264,   8407],
       [145000,   1572,  12588],
       [164000,   2375,  16204],
       [123500,   1161,   9626],
       [180000,   1542,   8755],
       [159500,   1464,  14636],
       [156000,   2240,  21780],
       [146500,   1269,  11250],
       [101500,    924,   7361],
       [109800,    768,  10497],
       [182000,   1320,  15768],
       [110000,   1845,  12153],
       [125000,   1274,  13634],
       [ 80000,   1905,  10890]])

In [10]:
# 1 Convertir le prix des maison en euros  => Mutliplier par 0.86 la première colonne .

houses [:,0]  = houses[:,0]  * 0.86

In [11]:
houses

array([[156795,   4148,  25264],
       [170108,   2501,  11891],
       [250724,   4374,  25351],
       [213744,   2398,  22215],
       [118336,   2536,   9234],
       [ 62866,   2368,  13329],
       [ 62866,   1264,   8407],
       [107242,   1572,  12588],
       [121294,   2375,  16204],
       [ 91340,   1161,   9626],
       [133128,   1542,   8755],
       [117966,   1464,  14636],
       [115377,   2240,  21780],
       [108351,   1269,  11250],
       [ 75069,    924,   7361],
       [ 81208,    768,  10497],
       [134607,   1320,  15768],
       [ 81356,   1845,  12153],
       [ 92450,   1274,  13634],
       [ 59168,   1905,  10890]])

In [13]:
# 2 Convertir les pieds carrés par des m2 

houses [:,1]  = houses[:,1]  * 0.09
houses [:,2]  = houses[:,2]  * 0.09
houses

array([[156795,     33,   2273],
       [170108,     20,   1070],
       [250724,     35,   2281],
       [213744,     19,   1999],
       [118336,     20,    831],
       [ 62866,     19,   1199],
       [ 62866,     10,    756],
       [107242,     12,   1132],
       [121294,     19,   1458],
       [ 91340,      9,    866],
       [133128,     12,    787],
       [117966,     11,   1317],
       [115377,     18,   1960],
       [108351,     10,   1012],
       [ 75069,      7,    662],
       [ 81208,      6,    944],
       [134607,     10,   1419],
       [ 81356,     14,   1093],
       [ 92450,     10,   1227],
       [ 59168,     15,    980]])

In [27]:
# 2 Combien de maisons ont un terrain de plus de 1000 m2 ?
houses [houses[:,2] > 1000]

array([[156795,     33,   2273],
       [170108,     20,   1070],
       [250724,     35,   2281],
       [213744,     19,   1999],
       [ 62866,     19,   1199],
       [107242,     12,   1132],
       [121294,     19,   1458],
       [117966,     11,   1317],
       [115377,     18,   1960],
       [108351,     10,   1012],
       [134607,     10,   1419],
       [ 81356,     14,   1093],
       [ 92450,     10,   1227]])

In [26]:
# 3 Somme de la vente des maisons
houses[:,0].sum()

2353995

In [28]:
# 3 Taille de la maison vendu ela plus chère
houses[:,0].max()

250724

In [30]:
# 4 Splitter le tableau en 3
np.split(houses,[2,6])

[array([[156795,     33,   2273],
        [170108,     20,   1070]]),
 array([[250724,     35,   2281],
        [213744,     19,   1999],
        [118336,     20,    831],
        [ 62866,     19,   1199]]),
 array([[ 62866,     10,    756],
        [107242,     12,   1132],
        [121294,     19,   1458],
        [ 91340,      9,    866],
        [133128,     12,    787],
        [117966,     11,   1317],
        [115377,     18,   1960],
        [108351,     10,   1012],
        [ 75069,      7,    662],
        [ 81208,      6,    944],
        [134607,     10,   1419],
        [ 81356,     14,   1093],
        [ 92450,     10,   1227],
        [ 59168,     15,    980]])]